:root {
  --primary-color: #d7eddb;
  --secondary-color: #4d6a61;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #272142;
}

header {
  background: var(--primary-color);
  padding: 100px 50px 100px;
  margin: 50px auto 0 auto;
}

h1,
h2 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navbar-custom-color {
  background: var(--primary-color) !important;
}

.change-theme-button {
  font-size: 16px;
  height: 1.5;
  padding: 18px 29.5px;
  background: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 25px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--box-shadow);
}
.change-theme-button:hover {
  background: #e6f3e8;
  color: var(--secondary-color);
  border-radius: 4px;
}
.projects-link a {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  /* box-shadow: black; */
  color: white;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
}
.projects-link a:hover {
  background: #e6f3e8;
  color: var(--secondary-color);
  border-radius: 4px;
}
.email-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  border-bottom: 3px solid #4d6a61 !important;
  color: #4d6a61 !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
