:root {
  --primary-color: #d7eddb;
  --secondary-color: #4d6a61;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #272142;
}

.navbar-custom-color {
  background: var(--primary-color) !important;
}
.nav-link:hover {
  border-bottom: 3px solid #4d6a61 !important;
  color: #4d6a61 !important;
}
.bg-light {
  background: white !important;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}
.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 24px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.about-section {
  padding: 160px 20px;
}
.about-section h3 {
  font-size: 24px;
  opacity: 0.7;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}
.about-section-content {
  margin: 30px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--box-shadow);
}
.btn-branding:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: var(--secondary-color);
}
.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

/* to check here */
.email-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
}

.image-lilia {
  max-width: 350px;
  border-radius: 20px;

  filter: grayscale(100%);
}
.image-lilia:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transition: all 1000ms ease-in-out;
}
.work-inquiry-section {
  background: var(--primary-color);
  border-radius: 6px;
  padding: 30px 50px !important;
}
@media (max-width: 900px) {
  h1 {
    margin-top: 100px;
    font-size: 44px !important;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 18px !important;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }
  .hero h1 {
    margin-top: 0;
    font-size: 44px !important;
    line-height: 56px !important;
  }

  .hero h2 {
    font-size: 18px !important;
  }

  .hero {
    padding: 100px 20px 50px;
  }

  .project-description h2 {
    margin-bottom: 20px !important;
    font-size: 36px !important;
  }
  .project-description p {
    margin-bottom: 15px !important;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-description {
    text-align: center;
    padding: 15px 30px;
  }
  .btn-branding {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  .hero .btn-branding {
    width: 60%;
  }
  .work-inquiry-section {
    text-align: center;
    padding: 10px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .work-inquiry-section h3 {
    margin-bottom: 15px !important;
  }
  .work-inquiry-section p {
    line-height: 1.2 !important;
  }
  .work-inquiry-section {
    padding: 15px 30px !important;
  }
}
