:root {
  --primary-color: #d7eddb;
  --secondary-color: #4d6a61;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-style: normal;
}

.navbar-custom-color {
  background: var(--primary-color) !important;
}
.nav-link:hover,
.nav-link.active {
  border-bottom: 3px solid #4d6a61 !important;
  color: #4d6a61 !important;
}
.bg-light {
  background: white !important;
}

.dropdown-item:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #272142;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}
h4 {
  font-size: 48px;
}

p {
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h3 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 100px 20px;
}
.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--box-shadow);
}
.btn-branding:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: var(--secondary-color);
}

.project-description {
  padding: 90px 60px;
}

/* to check here */

.image-lilia {
  max-width: 350px;
  border-radius: 20px;
  filter: grayscale(100%);
  transition: all 2000ms ease-in-out;
}
.image-lilia:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.work-inquiry-section {
  background: var(--primary-color);
  border-radius: 6px;
  padding: 30px 120px;
}
.work-section h2 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
.contact-info:hover {
  border-bottom: 2px solid var(--secondary-color);
}
.each-project a {
  color: #272142;
  text-decoration: none;
}
.each-project a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
.about-me {
  text-align: justify;
  text-align-last: left;
}
.my-research-projects h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
footer .social-links a {
  margin: 0 10px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 8px 10px 0px;
  border-radius: 4px;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}
.each-contact a:hover {
  text-decoration: underline !important;
}
.image-projects {
  transition: transform 500ms ease-in-out, translate 500ms ease-in-out;
  cursor: pointer;
}
.image-projects:hover {
  transform: scale(1.5);
}
.image-projects-1:hover {
  translate: 50%;
}
.image-projects-2:hover {
  translate: -50%;
}
/* media section */
@media (max-width: 900px) {
  .nav-link:hover,
  .nav-link.active {
    border-bottom: none !important;
  }

  h1 {
    font-size: 44px !important;
    line-height: 1.2 !important;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    text-align: center;
  }
  .hero {
    padding: 100px 20px 50px;
  }
  .hero h2 {
    font-size: 24px !important;
  }
  .hero h3 {
    font-size: 16px !important;
  }

  .project-description h2 {
    margin-bottom: 20px !important;
    font-size: 36px !important;
  }

  .project-description p {
    margin-bottom: 15px !important;
  }
  .project-description {
    margin-bottom: 0 !important;
  }
  .content h1 {
    margin-top: 100px !important;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  .new-app {
    margin-bottom: 0px !important;
  }

  .project-description {
    text-align: center;
    padding: 15px 30px;
  }
  /* .project-description:last child {
    margin-bottom: 0 !important;
  } */
  .btn-branding {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  .hero .btn-branding {
    width: 60%;
  }
  .work-inquiry-section {
    text-align: center;
    padding: 10px 20px !important;
    margin-top: 45px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  .work-inquiry-section h3 {
    margin-bottom: 15px !important;
  }
  .work-inquiry-section p {
    line-height: 1.2 !important;
  }

  .each-contact {
    padding: 25px 12px;
    border-bottom: 1px dashed var(--secondary-color);
  }
  .each-contact:last-child {
    border: none;
  }
  .work-section h2 {
    font-size: 40px;
    font-family: var(--heading-font-family);
  }
  .my-research-projects h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
  }
}
@media (min-width: 992px) {
  .fixed-top {
    padding: 15px 250px;

    /* right: 230px !important;
    left: 250px !important;
    right: 250px !important; */
  }
  /* .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  } */
}
